@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;500&display=swap");

:root {
  /* Primary: Blue Magenta */
  --primary-100: #f8f2ff;
  --primary-200: #dbc1fe;
  --primary-300: #b78ffb;
  --primary-400: #8a5cf1;
  --primary-500: #572ade;
  --primary-600: #2d0eb0;
  --primary-700: #140382;
  --primary-800: #070054;
  --primary-900: #010026;

  /* Accent: Yellowish Green */
  --accent-100: #f9fff2;
  --accent-200: #e3febe;
  --accent-300: #d1fb89;
  --accent-400: #bff052;
  --accent-500: #acdb1f;
  --accent-600: #8fae0a;
  --accent-700: #708102;
  --accent-800: #4d5400;
  --accent-900: #262600;

  /* Neutral */
  --neutral-100: #fbfafc;
  --neutral-200: #e8e6ec;
  --neutral-300: #d6d3db;
  --neutral-400: #c3c0cb;
  --neutral-500: #b0adba;
  --neutral-600: #8c8a95;
  --neutral-700: #686770;
  --neutral-800: #45444b;
  --neutral-900: #222226;

  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Signika", sans-serif;
  color: var(--neutral-900);
  background: var(--neutral-100);
  line-height: 1.5;
  overflow-x: hidden;
  padding-bottom: 50px;
}

h1 {
  font-family: "Signika", sans-serif;
  font-weight: 500;
  font-size: 64px;
}

p {
  font-family: "Signika", sans-serif;
  font-weight: 300;
}

#main-header {
  background: var(--primary-400);
  padding: 4rem 0;
}

#main-header h1,
#main-header h3 {
  color: var(--neutral-100);
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
  text-align: center;
}

#timeline ul {
  padding: 50px 0;
  background: var(--neutral-200);
}

/* Line */
#timeline ul li {
  list-style: none;
  position: relative;
  margin: 0 auto;
  width: 6px;
  padding-top: 50px;
  background: var(--accent-500);
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 300px;
  padding: 1rem;
  background: var(--primary-300);
  transition: all 0.5s ease-in-out;
}

/* Right side */
#timeline ul li:nth-child(odd) div {
  left: 40px;
}

/* Left side */
#timeline ul li:nth-child(even) div {
  right: 340px;
}

/* Dots */
#timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: var(--accent-200);
  transform: translateX(-50%);
  border-radius: 50%;
  border: 4px solid var(--accent-700);
  transition: all 0.5s ease-in-out;
  transition-property: background, border;
}
